@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #0A1128;
    color: #FEFCFB;
}

.color{
    color: #FFD54C;
}

.nav-link{
    color: #FEFCFB;
}

.nav-link:hover{
    color: #FFD54C;
}

.text
{
    color: #0A1128;
}
.background{
    background-color: #FFD54C;
}

.text-yellow, .socials a:hover{
    color: #FFD54C;
}

.socials a{
    color: #FEFCFB;
}

.btn-outline-warning{
    border: 1px solid #FFD54C;
    color: #FFD54C;
}

.btn-outline-warning:hover{
    background-color: #FFD54C;
    color: #0A1128;
}

.center{
    display: grid;
    place-items: center;
}
.banner-pic{
    border: 2px solid #FEFCFB;
    animation: wave 4s infinite ease-in-out alternate;
    background-color: #ececec;
    background-image: url(../images/DSC_0294_2update2-removebg-preview.png);
    background-repeat: no-repeat;
    height: 70%;
    width: 100%;
}

@keyframes wave{
    0%, 100% {
        border-radius: 66% 34% 37% 63% / 57% 31% 69% 43%;
    }
    50%{
        border-radius: 26% 74% 51% 49% / 22% 53% 47% 78%;
    }
}

.backgrd-light{
    background-color: #ececec;
}

.btn-primary{
    background-color: #0A1128;
    color: #FEFCFB;
}

nav{
    background-color: rgba(10, 17, 40,0.8);
    box-shadow: 0px 1px 12px 0px rgba(219, 227, 255, 0.8);
}

.services-icon{
    height: 7em;
    width: 7em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.card{
    background-color: #0A1128;
    border: 1px solid #FFD54C;
}

.card:hover{
    background-color: #FFD54C;
    color: #0A1128 !important;
    transition: all 1s ease-in-out;
    cursor: pointer;
}
.card:hover h3{
    color: #0A1128;
    transition: all 1s ease-in-out;
}

.projects{
    width: 40vw;
    height: 40vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.overlay{
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    background-color: rgba(255, 213, 76, 0.7);
}

.project-card{
    position: relative;
    display: none;
}

.project-card{
    display: grid;
}

.project-card .overlay{
    opacity: 0;
    left: -10vh;
}

.project-card:hover .overlay{
    opacity: 1;
    left: 0;
    transition: all 1s ease-in-out;
}