{% extends 'portfolio_app/base.html' %}


{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5 min-vh-100 center">
            <div data-aos="fade-left" data-aos-duration="2000">
                <h5>
                    <span class="text p-3 h5 fw-bold background">Welcome! Hello, I'm</span>
                </h5>
                <h1 class="fw-bold my-4 font-monospace pt-3">Charles Okunzo</h1>
                <h2 class="text-yellow fw-bold">
                    <span class="typed-word"></span>
                </h2>
                <p class="mt-3">
                    I'm a passionate front-end and back-end web developer bringing forth expertise in design, development, testing and maintenance of web applications. 
                </p>

                <div>
                    <a href="{% url 'hire-me' %}" class="btn btn-outline-warning px-3 py-2 m-3">Hire Me</a>
                    <a href="../../../static/docs/Okunzo-Resume.pdf" class="btn btn-outline-warning px-3 py-2 m-3">Download Resume</a>
                </div>
                <div class="socials">
                    <a data-aos="fade-left" data-aos-duration="2000" href="mailto:okunzopeter01@gmail.com"><span class="iconify fs-4 mx-2" data-icon="logos:google-gmail"></span></a>
                    <a data-aos="fade-left" data-aos-duration="2500" href="https://twitter.com/OkunzoCharlo"><span class="iconify fs-2 mx-2" data-icon="et:twitter"></span></a>
                    <a data-aos="fade-left" data-aos-duration="3000" href="https://www.linkedin.com/in/charlespeterokunzo/"><span class="iconify fs-2 mx-2" data-icon="et:linkedin"></span></a>
                    <a data-aos="fade-left" data-aos-duration="3500" href="https://github.com/charles-okunzo"><span class="iconify fs-2 mx-2" data-icon="akar-icons:github-outline-fill"></span></a>
                </div>
            </div>
        </div>
        <div class="col-lg-5 min-vh-100 banner-pic-div center">
            <div class="banner-pic" data-aos="fade-left" data-aos-duration="1000">
                <!-- <img src="../../../static/images/DSC_0294_2update2-removebg-preview.png" style="object-fit: cover;" alt=""> -->
            </div>
        </div>
    </div>
</div>

<div class="backgrd-light">
    <div class="container" id="about-me">
        <div class="row justify-content-center">
            <div class="col-lg-4 mb-3 about-me-img" data-aos="fade-right" data-aos-duration="3000" style="min-height: 80vh;">
                <img src="../../../static/images/DSC_0294_2update2-removebg-preview.png" class="img-fluid" style="object-fit: cover; height: 100%; width: auto;" alt="">
            </div>
            <div class="col-lg-6 mb-3" data-aos="fade-up" data-aos-duration="3000">
                <h1 class="fw-bold text font-monospace my-5">About Me</h1>
                <p class="text" style="line-height: 4vh;">
                    I'm a solution-driven software developer who is passionate about developing consumer-focused online products and services.  I am proficient in HTML, CSS, JavaScript, jQuery, and Python alongside modern frameworks and libraries such as Angular, Django and Flask. Besides, I am interested in working in the fast-growing high-tech environment to develop quality solutions while impacting lives. Moreover, I'm able to effectively self-manage during independent projects and collaborate in a team setting.
                </p>
                <h5 class="fw-bold mt-4 text">Web Development</h5>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                  </div>
                  <h5 class="fw-bold mt-4 text">Web Design</h5>
                    <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                  </div>
                  <h5 class="fw-bold mt-4 text">UI/UX Design</h5>
                    <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                  </div>

                  <!-- <a href="" class="btn btn-primary my-3 p-2">Explore More...</a> -->
            </div>
        </div>
        <!-- Education starts -->
        <div class="row">
            <div class="col-md-8 mt-5 mx-auto" data-aos="fade-up" data-aos-duration="2000">
                <h1 class="fw-bold text font-monospace mb-5">Education</h1>
            </div>
        </div>
        <div class="row justify-content-center my-4">
            <!-- <div class="col-md-8 mx-auto"> -->
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                    <ul class="timeline text">
                        <li class="timeline-item" data-aos="fade-up" data-aos-duration="3000">
                            <div class="timeline-info">
                                <span>Jan, 2022-Jul, 2022</span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <span class="iconify fs-1" data-icon="charm:graduate-cap"></span>
                                <h3 class="timeline-title card-edu">Certificate in Software Development</h3>
                                <h4>Moringa School</h4>
                                <h6><i>Courses</i></h6>
                                <ul>
                                    <li>Introduction to Programming</li>
                                    <li>Fundamentals of Angular framework</li>
                                    <li>Python-Flask/Django</li>
                                    <li>Professional Development Training</li>
                                    <li>Soft skills training</li>
                                  </ul>
                            </div>
                        </li>
                        <li class="timeline-item" data-aos="fade-up" data-aos-duration="3000">
                            <div class="timeline-info">
                                <span>Aug, 2017-Dec, 2021</span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <span class="iconify fs-1" data-icon="charm:graduate-cap"></span>
                                <h3 class="timeline-title card-edu">B.Com(Accounting)</h3>
                                <h4>Kenyatta University</h4>
                                <ul>
                                    <li>Graduated with Second Class Honors(Upper division)</li>
                                </ul>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>
    </div>
    </div>
            <!-- Education ends -->


<div class="container" id="services">
    <div class="row">
        <div class="col-md-10 mx-auto" data-aos="fade-up" data-aos-duration="2000">
            <h6 class="mt-5">My <span class="text-yellow">Services</span></h6>
            <h1 class="fw-bold font-monospace mb-5">What I Do</h1>
        </div>
    </div>
    <div class="row justify-content-center px-3">
        <div class="col-lg-3 card text-center p-4 my-3" data-aos="fade-up" data-aos-duration="3000">
            <div class="center">
                <div class="services-icon" style="background-image: url(../../../static/images/Web_Developer.jpeg);">

                </div>
            </div>
            <h3 class="fw-bold my-2 text-yellow">Web Development</h3>
            <p class="mt-1">Equipped with knowledge and promising skillset in both front-end and backend technologies, I develop quality, scalable and efficient web apps theough agile methodology.</p>
        </div>
        <div class="col-lg-3 card text-center p-4 mx-md-4 my-3" data-aos="fade-up" data-aos-duration="3000">
            <div class="center">
                <div class="services-icon" style="background-image: url(../../../static/images/webdesign-icon.png);">

                </div>
            </div>
            <h3 class="fw-bold my-2 text-yellow">Web Design</h3>
            <p class="mt-1">Using modern tools I provide you with a customized website design that's perfect for your business or personal site. I'll work with you to create a design that matches your brand, while giving your customers a seamless user experience that will delight them</p>
        </div>

        <div class="col-lg-3 card text-center p-4 my-3" data-aos="fade-up" data-aos-duration="3000">
            <div class="center">
                <div class="services-icon" style="background-image: url(../../../static/images/ui-ux.png);">

                </div>
            </div>
            <h3 class="fw-bold my-2 text-yellow">UI/UX Design</h3>
            <p class="mt-1">Client-focused, creating user and customer experiences designed to have engaging user interfaces (UI) and deliver tangible business results, I am dedicated to ensure your business thrives in the digital world.</p>
        </div>
    </div>
</div>

<div class="container" id="portfolio">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <h6 class="mt-5">My <span class="text-yellow">Portfolio</span></h6>
            <span class="fw-bold font-monospace mb-5 h1">Recent Projects</span>
            <a href="{% url 'projects' %}" class="text-yellow"><span class="h4" style="float: right;">View all<span class="iconify" data-icon="ant-design:arrow-right-outlined"></span></span></a>
        </div>
    </div>
    <div class="row justify-content-center my-4">
        <div class="col-lg-5 projects me-lg-3 mb-3 project-card" data-aos="zoom-in" data-aos-duration="3000" style="background-image: url(../../../static/images/Screenshot-from-2022-04-18\ -7-47-26.png);">
            <div class="overlay center">
                <h2 class="fw-bold text">Search Github Users</h2>
            </div>
        </div>
        <div class="col-lg-5 projects ms-lg-3 mb-3 project-card" data-aos="zoom-in" data-aos-duration="3000" style="background-image: url(../../../static/images/Screenshot\ from\ 2022-06-08\ 10-30-08.png);">
            <div class="overlay center">
                <h2 class="fw-bold text">Instagram Clone</h2>
            </div>
        </div>
        <div class="col-lg-5 projects me-lg-3 mt-3 project-card" data-aos="zoom-in" data-aos-duration="3000" style="background-image: url(../../../static/images/Screenshot\ from\ 2022-05-11\ 13-33-31.png);">
            <div class="overlay center">
                <h2 class="fw-bold text">PitchBoard</h2>
            </div>
        </div>
        <div class="col-lg-5 projects ms-lg-3 mt-3 project-card" data-aos="zoom-in" data-aos-duration="3000" style="background-image: url(../../../static/images/Screenshot\ from\ 2022-05-16\ 09-03-06.png);">
            <div class="overlay center">
                <h2 class="fw-bold text">Personal Blog</h2>
            </div>
        </div>
    </div>
</div>

<div class="backgrd-light">
    <div class="container" id="testimonials">
        <div class="row">
            <div class="col-md-10 mx-auto" data-aos="fade-up" data-aos-duration="3000">
                <h6 class="mt-5 text">Our Testimonials</h6>
                <span class="fw-bold font-monospace mb-5 h1 text">What People Say About Me</span>
            </div>
        </div>
        <div class="row">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-aos="fade-up" data-aos-duration="3000">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="col-lg-5 my-4 mx-auto testy-card p-0 rounded">
                            <span class="iconify text quote-icon p-2" data-icon="et:quote"></span>
                            <p class="text p-2" >
                                Charles is a smart worker who values quality and is self driven. A good time manager and an individual who doesn't settle for less. During the period where I was his Technical Mentor while at Moringa I saw Charles morph into an all-rounded person as a developer and as an individual. He also served as the class representative during this period and I got to experience his great leadership skills. Always ready to listen and learn, his thirst for knowledge is never quenched. Charles Okunzo is truly an asset.
                            </p>
                            <div class="tester p-3">
                                <img src="../../../static/images/87410218.jpeg" height="75" width="75" style="border-radius: 50%; object-fit: cover; float: left;" class="me-3" alt="">
                                <div>
                                    <h4 class="fw-bold text">Maryann Mwikali</h4>
                                    <h6 class="text">Technical Mentor, Moringa School</h6>
                                    <p>
                                        <span class="iconify" data-icon="carbon:star-filled"></span>
                                        <span class="iconify" data-icon="carbon:star-filled"></span>
                                        <span class="iconify" data-icon="carbon:star-filled"></span>
                                        <span class="iconify" data-icon="carbon:star-filled"></span>
                                        <span class="iconify" data-icon="carbon:star-filled"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="col-lg-5 my-4 mx-auto testy-card p-0 rounded">
                            <span class="iconify text quote-icon p-2" data-icon="et:quote"></span>
                            <p class="text p-2" >
                                Working with people is not one of the easiest things, and when you find people that are easy to work with you treasure that and them. Well, Charles is just one of those people, He is one of the most creative, open-minded, resourceful, and confident people I have had to work with. His work ethic is one of the best. He gets the job done. I always look forward to working with him and so should everyone else.
                            </p>
                            <div class="tester p-3">
                                <img src="../../../static/images/60218851.jpeg" height="75" width="75" style="border-radius: 50%; object-fit: cover; float: left;" class="me-3" alt="">
                                <div>
                                    <h4 class="fw-bold text">Orina Nyanchera</h4>
                                    <h6 class="text">Full-Stack Developer</h6>
                                    <p>
                                        <span class="iconify" data-icon="carbon:star-filled"></span>
                                        <span class="iconify" data-icon="carbon:star-filled"></span>
                                        <span class="iconify" data-icon="carbon:star-filled"></span>
                                        <span class="iconify" data-icon="carbon:star-filled"></span>
                                        <span class="iconify" data-icon="carbon:star-filled"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="col-lg-5 my-4 mx-auto testy-card p-0 rounded">
                            <span class="iconify text quote-icon p-2" data-icon="et:quote"></span>
                            <p class="text p-2" >
                                I have had the chance to work with Sir Charles on a couple of projects and I can honestly say he is among the best developers I have gotten to work with. He knows his stuff and he never shies away from a challenge. He goes above and beyond in search of knowledge and he doesn't subscribe to just one way of thinking. I would definitely recommend his services to others. No regrets.
                            </p>
                            <div class="tester p-3">
                                <img src="../../../static/images/46110062.jpeg" height="75" width="75" style="border-radius: 50%; object-fit: cover; float: left;" class="me-3" alt="">
                                <div>
                                    <h4 class="fw-bold text">Samuel Odak</h4>
                                    <h6 class="text">Full-stack Developer</h6>
                                    <p>
                                        <span class="iconify" data-icon="carbon:star-filled"></span>
                                        <span class="iconify" data-icon="carbon:star-filled"></span>
                                        <span class="iconify" data-icon="carbon:star-filled"></span>
                                        <span class="iconify" data-icon="carbon:star-filled"></span>
                                        <span class="iconify" data-icon="carbon:star-filled"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon carousel-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon carousel-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </div>
</div>


{% endblock %}