{% extends 'portfolio_app/base.html' %}


{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5 min-vh-100 center">
            <div>
                <h5>
                    <span class="text p-3 h5 fw-bold background">Welcome! Hello, I'm</span>
                </h5>
                <h1 class="fw-bold my-4 font-monospace pt-3">Charles Okunzo</h1>
                <h2 class="text-yellow fw-bold">
                    Full-stack Web Developer
                </h2>
                <p>
                    I'm a passionate front-end and back-end web developer bringing forth expertise in design, development, testing and maintenance of web applications. 
                </p>

                <div>
                    <a href="" class="btn btn-outline-warning px-3 py-2 m-3">Hire Me</a>
                    <a href="" class="btn btn-outline-warning px-3 py-2 m-3">Download Resume</a>
                </div>
                <div class="socials">
                    <a href=""><span class="iconify fs-4 mx-2" data-icon="logos:google-gmail"></span></a>
                    <a href=""><span class="iconify fs-2 mx-2" data-icon="et:twitter"></span></a>
                    <a href=""><span class="iconify fs-2 mx-2" data-icon="et:linkedin"></span></a>
                    <a href=""><span class="iconify fs-2 mx-2" data-icon="akar-icons:github-outline-fill"></span></a>
                </div>
            </div>
        </div>
        <div class="col-md-5 min-vh-100 center">
            <div class="banner-pic">
                <!-- <img src="../../../static/images/DSC_0294_2update2-removebg-preview.png" style="object-fit: cover;" alt=""> -->
            </div>
        </div>
    </div>
</div>

<div class="backgrd-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4" style="min-height: 80vh;">
                <img src="../../../static/images/DSC_1056-removebg-preview (1).png" class="img-fluid" style="object-fit: cover; height: 100%; width: auto;" alt="">
            </div>
            <div class="col-md-6">
                <h1 class="fw-bold text font-monospace my-5">About Me</h1>
                <p class="text" style="line-height: 4vh;">
                    I'm a solution-driven software developer who is passionate about developing consumer-focused online products and services.  I am proficient in HTML, CSS, JavaScript, jQuery, and Python alongside modern frameworks and libraries such as Angular, Django and Flask. Besides, I am interested in working in the fast-growing high-tech environment to develop quality solutions while impacting lives. Moreover, I'm able to effectively self-manage during independent projects and collaborate in a team setting.
                </p>
                <h5 class="fw-bold mt-4 text">Web Development</h5>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                  </div>
                  <h5 class="fw-bold mt-4 text">Web Design</h5>
                    <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                  </div>
                  <h5 class="fw-bold mt-4 text">UI/UX Design</h5>
                    <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
                  </div>

                  <a href="" class="btn btn-primary my-3 p-2">Explore More...</a>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <h6 class="mt-5">My <span class="text-yellow">Services</span></h6>
            <h1 class="fw-bold font-monospace mb-5">What I Do</h1>
        </div>
    </div>
    <div class="row justify-content-center px-3">
        <div class="col-md-3 card text-center p-4 my-3">
            <div class="center">
                <div class="services-icon" style="background-image: url(../../../static/images/Web_Developer.jpeg);">

                </div>
            </div>
            <h3 class="fw-bold my-2 text-yellow">Web Development</h3>
            <p class="mt-1">Equipped with knowledge and promising skillset in both front-end and backend technologies, I develop quality, scalable and efficient web apps theough agile methodology.</p>
        </div>
        <div class="col-md-3 card text-center p-4 mx-md-4 my-3">
            <div class="center">
                <div class="services-icon" style="background-image: url(../../../static/images/webdesign-icon.png);">

                </div>
            </div>
            <h3 class="fw-bold my-2 text-yellow">Web Design</h3>
            <p class="mt-1">Using modern tools I provide you with a customized website design that's perfect for your business or personal site. I'll work with you to create a design that matches your brand, while giving your customers a seamless user experience that will delight them</p>
        </div>

        <div class="col-md-3 card text-center p-4 my-3">
            <div class="center">
                <div class="services-icon" style="background-image: url(../../../static/images/ui-ux.png);">

                </div>
            </div>
            <h3 class="fw-bold my-2 text-yellow">UI/UX Design</h3>
            <p class="mt-1">Client-focused, creating user and customer experiences designed to have engaging user interfaces (UI) and deliver tangible business results, I am dedicated to ensure your business thrives in the digital world.</p>
        </div>
    </div>
</div>
{% endblock %}