{% extends 'portfolio_app/base.html' %}


{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5 min-vh-100 center">
            <div>
                <h5>
                    <span class="text p-3 h5 fw-bold background">Welcome! Hello, I'm</span>
                </h5>
                <h1 class="fw-bold my-4 pt-3">Charles Okunzo</h1>
                <h2 class="text-yellow fw-bold">
                    Full-stack Web Developer
                </h2>
                <p>
                    I'm a passionate front-end and back-end web developer bringing forth expertise in design, development, testing and maintenance of web applicaions. 
                </p>

                <div>
                    <a href="" class="btn btn-outline-warning px-3 py-2 m-3">Hire Me</a>
                    <a href="" class="btn btn-outline-warning px-3 py-2 m-3">Download Resume</a>
                </div>
                <div class="socials">
                    <a href=""><span class="iconify fs-4 mx-2" data-icon="logos:google-gmail"></span></a>
                    <a href=""><span class="iconify fs-2 mx-2" data-icon="et:twitter"></span></a>
                    <a href=""><span class="iconify fs-2 mx-2" data-icon="et:linkedin"></span></a>
                    <a href=""><span class="iconify fs-2 mx-2" data-icon="akar-icons:github-outline-fill"></span></a>
                </div>
            </div>
        </div>
        <div class="col-md-5"></div>
    </div>
</div>
{% endblock %}