<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="../../../static/images/website_logo-removebg-preview.png" alt="Portfolio "></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><img src="../../../static/images/website_logo-removebg-preview.png" alt=""></span></h5>
          <button type="button" class="btn-close bg-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item mx-3">
              <a class="nav-link active text-white" aria-current="page" href="/">HOME</a>
            </li>
            <li class="nav-item mx-3">
              <a class="nav-link" href="#about-me">ABOUT ME</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link" href="#services">SERVICES</a>
              </li>
              <li class="nav-item mx-3">
                <a class="nav-link" href="#portfolio">PORTFOLIO</a>
              </li>
              <li class="nav-item mx-3">
                <a class="nav-link" href="#testimonials">TESTIMONIALS</a>
              </li>
              <li class="nav-item mx-3">
                <a class="nav-link" href="#contact">CONTACT</a>
              </li>
            
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <!-- <hr class="m-0"> -->