{% extends 'portfolio_app/base.html' %}


{% block content %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-10 mx-auto">
            <h6 class="mt-5">My <span class="text-yellow">Projects</span></h6>
            <h1 class="fw-bold font-monospace mb-5">All Projects</h1>
        </div>
    </div>
    <!-- instagram clone -->
    <div class="row justify-content-center">
        <div class="col-md-5 my-4">
            <h3 class="text-yellow fw-bold">Instagram Clone</h3>
            <p>This application is a clone of the popular photo sharing app-Instagram. Functionalities implimented in this application allows users to;</p>
            <ul>
                <li>Register into the application and Login.</li>
                <li>Set up and update their profile.</li>
                <li>Post, update and delete posts.</li>
                <li>Other users can like and comment on their posts and follow other users.</li>
            </ul>
            <p class="my-4 h5"><span class="iconify text-yellow fs-3" data-icon="cil:tags"></span> Django, Python, Bootsrap, Git <a href="https://instah-clone.herokuapp.com/" target="_blank" class="nav-link fs-4" style="float: right;"><span class="iconify fs-3" data-icon="bx:link-alt"></span> Visit <span class="iconify" data-icon="akar-icons:arrow-right-thick"></span></a></p>
            
        </div>
        <div class="col-md-5 my-4">
            <img src="../../../static/images/Screenshot from 2022-06-08 10-30-08.png" class="img-fluid" style="width: 100%; object-fit: cover; height: 100%;" alt="">
        </div>
    </div><hr style="width: 50%;" class="mx-auto">

    <div class="row justify-content-center my-4">
        <div class="col-md-5 my-4 order-last">
            <h3 class="text-yellow fw-bold">Search Github Users</h3>
            <p>This application is made using the Github API thus a user is ableto search for any Github Users' profile. A user is able to;</p>
            <ul>
                <li>Search for profiles from other Github users.</li>
                <li>Seach for all repositories belonging to a particular user.</li>
                <li>View my github profile and all my repositories.</li>
                <li>All repository details including repo link and project live links.</li>
            </ul>
            <p class="my-4 h5"><span class="iconify text-yellow fs-3" data-icon="cil:tags"></span> Angular, Typescript, Bootsrap, Git <a href="http://charles-okunzo.github.io/github-repo-search/" target="_blank" class="nav-link fs-4" style="float: right;"><span class="iconify fs-3" data-icon="bx:link-alt"></span> Visit <span class="iconify" data-icon="akar-icons:arrow-right-thick"></span></a></p>
            
        </div>
        <div class="col-md-5 my-4 order-first">
            <img src="../../../static/images/Screenshot-from-2022-04-18 -7-47-26.png" class="img-fluid" style="width: 100%; object-fit: cover; height: 100%;" alt="">
        </div>
    </div><hr style="width: 50%;" class="mx-auto">

    <div class="row justify-content-center my-4">
        <div class="col-md-5 my-4">
            <h3 class="text-yellow fw-bold">PitchBoard</h3>
            <p>This application allows users to pitch their incredible ideas in 1 minute. A user can;</p>
            <ul>
                <li>View other peoples pitches</li>
                <li>Like the pitches they love and downvote and upvote on the as well</li>
                <li>Sign In and leave a comment on the pitch they liked.</li>
                <li>Submit a pitch in any category</li>
            </ul>
            <p class="my-4 h5"><span class="iconify text-yellow fs-3" data-icon="cil:tags"></span> Flask, Python, Bootsrap, Git <a href="https://pitch-board.herokuapp.com/" target="_blank" class="nav-link fs-4" style="float: right;"><span class="iconify fs-3" data-icon="bx:link-alt"></span> Visit <span class="iconify" data-icon="akar-icons:arrow-right-thick"></span></a></p>
            
        </div>
        <div class="col-md-5 my-4">
            <img src="../../../static/images/Screenshot from 2022-05-11 13-33-31.png" class="img-fluid" style="width: 100%; object-fit: cover; height: 100%;" alt="">
        </div>
    </div><hr style="width: 50%;" class="mx-auto">

    <div class="row justify-content-center my-4">
        <div class="col-md-5 my-4 order-last">
            <h3 class="text-yellow fw-bold">Quote Library</h3>
            <p>This is an angular app that enables users to view their favourite and inspirational quotes. In addition a user can;</p>
            <ul>
                <li>Create a new quote.</li>
                <li>Upvote or downvote a quote.</li>
                <li>Delete a quote</li>
                <li>See the number of upvotes and number of downvotes for each quote.</li>
            </ul>
            <p class="my-4 h5"><span class="iconify text-yellow fs-3" data-icon="cil:tags"></span> Angular, Typescript, Bootsrap, Git <a href="https://charles-okunzo.github.io/quotes-library" target="_blank" class="nav-link fs-4" style="float: right;"><span class="iconify fs-3" data-icon="bx:link-alt"></span> Visit <span class="iconify" data-icon="akar-icons:arrow-right-thick"></span></a></p>
            
        </div>
        <div class="col-md-5 my-4 order-first">
            <img src="../../../static/images/Screenshot from 2022-06-23 14-18-56.png" class="img-fluid" style="width: 100%; object-fit: cover; height: 100%;" alt="">
        </div>
    </div><hr style="width: 50%;" class="mx-auto">

    
    </div><hr style="width: 50%;" class="mx-auto">
    
</div>
{% endblock %}